* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color:white;
}

table {
    border: 5px solid darkolivegreen;
    text-align: left;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

thead, th {
    line-height: 1.3;
    background-color: rgba(85, 107, 47, 0.593);
    color: white;
}

td {
    border-top: 3px solid rgb(122, 154, 68);
}

h1 {
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    line-height: 1.5;
}
h3 {
    width: 800px;
}

h1, h3 {
    text-align: center;
    display: block;
    margin: 10px auto;
}

.banner {
    background-color: rgba(82, 109, 36, 0.757);
    width: 100%;
    z-index: 1;
}

.code {
    background-color: rgba(218, 165, 32, 0.691);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}